Ep-1.1-Getting-Started-with-CMake-on-Linux/build/*
Ep-1.2-Ep-1.2-Getting-Started-with-CMake-on-Windows/build/.cmake/api/v1/query/client-vscode/query.json
Ep-1.2-Ep-1.2-Getting-Started-with-CMake-on-Windows/build/.cmake/
Ep-1.2-Ep-1.2-Getting-Started-with-CMake-on-Windows/build/
